# Python DataTypes & Data Structures

# Pro and Cons
* Pros: Development speed, easy to use, large eco system
* Cons: Too easy => Dirty code, no compile => cannot track mistake, slower than some languages

# What's Data?
* Everyone interacts with data before. Most familiar in the table format with columns and rows
    * Row: combination of elements (=> list/series) horizontally
    * Columns: combination of elements (=> list/series) vertically 
    * Each elements: numeric, string, bool (TRUE/FALSE)
* Keep the image of a data table in mind, it will help you digest the abstracts of Data types and Data Structures in this part

![data-form.png](./images/data-form.png)

Source: [Hello-world. Big Data](https://anhdang.gitbook.io/datacracy/big-o/1-hello-world/big-data)

![data-table.png](./images/data-table.png)

Source: [HERE](https://www.google.com/url?sa=i&url=https%3A%2F%2Fgithub.com%2Flaravel-admin-extensions%2Fdata-table&psig=AOvVaw3I1WDvV9emxABLJhov8g28&ust=1623920479827000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCKCgmbTlm_ECFQAAAAAdAAAAABAV)

# Data types & operations
* Data types: `int`, `float`, `str`, `bool`
* Operations: 
    * `+ - * ** / // %`	Arithmetic
    * `+= -= *= \/=`	Incrementation and decrementation
    * `+ +=`	String concatenation
    * `== != < > <= >=`	Comparison
    * `is` `is not`	Identity
    * `and` or `|` (or)	Logical
    * `.`	Object method or attribute
    * `[ ]`	Access specific elements in a list

![math-operators.png](./images/math-operators.png)

Source: [www.automateboringstuff.com](https://automatetheboringstuff.com/)

In [3]:
3 % 2

1

In [5]:
a = 2
#a = a + 5
a += 5
a

7

## Useful Methods

Function
* print()
* input()
* len()
* str(), int(), float()
* type()

In [9]:
e = 56
type(e)

int

In [10]:
print('HELLOWORLD'.lower())
print('danghuynhmaianh'.upper())
print('dang huynh mai anh'.capitalize())

helloworld
DANGHUYNHMAIANH
Dang huynh mai anh

In [15]:
print('Hello World'.count('l'))
print('hello world, hello hello'.count('hello'))
print('dang huynh mai anh'.index('a'))
print('hello' in 'Hello World'.lower())
print('Today is {} of {}'.format('Tuesday', '56767'))

3
3
1
True
Today is Tuesday of 56767

# List (Mutable Ordered)
List are mutable ordered sequences of elements:
* Define the by square brackets [], elements are separated by coma 
* Element is defined by index (first index is 0)
* Contain different datatype
* string => sequence (similar to list)

In [17]:
ls = [5, 4, 6, 5, 5, 6, 7]
print(ls.index(4))
print(ls.index(max(ls)))

1
6

In [23]:
ls.sort()
ls

[4, 5, 5, 5, 6, 6, 7]

In [19]:
ls.extend([1])

In [20]:
sorted([5, 4, 6, 5, 5, 6, 7], reverse=False)

[4, 5, 5, 5, 6, 6, 7]

In [27]:
ls = 'danghuynhmaianh'
ls.index(min(ls))
ls[-2]

'n'

In [30]:
alphabet = ['a', 'b', 'c', 'd']
' '.join(alphabet)

'a b c d'

In [31]:
# Subsetting
numbers = [1, 2, 3, 5, 4, 6, 5, 5, 6, 7]
strings = ['a', 'b', 'd', 'c']
mixed = ['a', 1, 3, 4.5, True]

![list-index.png](./images/list-index.png)

Source: [www.programiz.com](www.programiz.com)

In [35]:
numbers = [1, 2, 3, 5, 4, 6, 5, 5, 6, 7]
numbers[5:]
numbers[:-3]

[1, 2, 3, 5, 4, 6, 5]

In [76]:
# index
print(numbers[-1])
print(numbers[0:3])

7
[1, 'd', 3]

In [36]:
# mutability
numbers[1] = 'd'
numbers

[1, 'd', 3, 5, 4, 6, 5, 5, 6, 7]

## Useful Method
![list-method.png](./images/list-method.png)

In [77]:
print(len(numbers))
print(max(strings))
print(min(strings))
print(sorted(strings, reverse=True))

10
new
a
['new', 'd', 'c', 'b', 'a']

In [44]:
sorted('danghuynhmaianh')

['a', 'a', 'a', 'd', 'g', 'h', 'h', 'h', 'i', 'm', 'n', 'n', 'n', 'u', 'y']

In [49]:
strings.append('new')
strings

['a', 'b', 'd', 'c', 'new']

In [50]:
strings.remove('new')
strings

['a', 'b', 'd', 'c']

In [51]:
strings.insert(2, 'new')
strings

['a', 'b', 'new', 'd', 'c']

In [54]:
strings.reverse()
strings

['c', 'd', 'new', 'b', 'a']

# Tuple (Immuable Ordered)
Tuple are immuable ordered sequences of elements:

* Define the by square brackets (), elements are separated by coma
* 2+ elements
* Subset/Slice as list
* Immuable: cannot change the value of elements

In [38]:
my_tuple = (1, 3 , 4, 'a', 'c', 2)
my_tuple[1]

3

In [36]:
my_ls = [1, 3 , 4, 'a', 'c', 2]
my_ls[1] = 4
my_ls

[1, 4, 4, 'a', 'c', 2]

In [39]:
my_tuple[1] = 4

TypeError: 'tuple' object does not support item assignment

In [41]:
type(my_ls)

list

In [60]:
tuple_to_ls = list(my_tuple)
tuple_to_ls

[1, 3, 4, 'a', 'c', 2]

In [57]:
# Tuple unpacking
length, width = (100, 200)
length

100

In [58]:
# List of tuples
students = [
    ("kim", 10),
    ("john", 12),
    ("mark", 8),
    ("nina", 19)
]

# Set (Unordered sequences)
set are mutable unordered collections of unique elements
* set are defined with curly brackets
* you can create a set from a list: it will remove duplicates
* be careful : elements can be displayed in a different order each time
* set have a faster access time than list

In [61]:
countries_ = {'France', 'UK', 'USA', 'China', 'India'}

In [62]:
# .add(): to add element.
countries_.add('Russia')
countries_

{'China', 'France', 'India', 'Russia', 'UK', 'USA'}

In [63]:
# .pop(): to remove randomly an element.
countries_.pop()

'France'

In [64]:
countries_

{'China', 'India', 'Russia', 'UK', 'USA'}

In [65]:
# Using a set to remove duplicates from a list
lst = ['Tokyo', 'Berlin', 'Helsinki', 'Rio', "Denver", "Tokyo", "Berlin"]
lst

['Tokyo', 'Berlin', 'Helsinki', 'Rio', 'Denver', 'Tokyo', 'Berlin']

In [66]:
set(lst)

{'Berlin', 'Denver', 'Helsinki', 'Rio', 'Tokyo'}

In [43]:
# Arithmetic
{10, 20, 30, 60} - {10, 40, 50} # item-wise

{20, 30, 60}

In [72]:
# Union 
{2, 4, 6} | {1, 3, 5}

{1, 2, 3, 4, 5, 6}

In [73]:
# Intersection
{1, 2, 3, 4} &  {2, 4, 6, 8}

{2, 4}

In [75]:
# Is subset and is superset
{5, 10} <= {5, 10, 15, 20}

False

# Dict (key-value)

In [55]:
# Example
grades = {
    'ann': [6, 7, 10],
    'mary': 16,
    'george': 12,
    'william': 11
}

In [57]:
grades['ann'][0]

6

In [53]:
'mary' in grades.keys()

True

In [58]:
# Access the value for a given key
print(grades['ann'])
# Insert a new value
grades['tom'] = 12
print(grades)

[6, 7, 10]
{'ann': [6, 7, 10], 'mary': 16, 'george': 12, 'william': 11, 'tom': 12}

In [94]:
grades.get('mary')

16

## Useful Methods
![dict-method.jpeg](./images/dict-method.png)

In [3]:
grades.keys()

dict_keys(['ann', 'mary', 'george', 'william'])

In [59]:
grades.values()

dict_values([[6, 7, 10], 16, 12, 11, 12])

In [60]:
grades.items()

dict_items([('ann', [6, 7, 10]), ('mary', 16), ('george', 12), ('william', 11), ('tom', 12)])

In [61]:
furniture = {
    'table': {'length': 100,
              'width': 57},
    'chair': {'length': 150,
              'width': 78},
    'closet': {'length': 200,
               'width': 140}
}

In [62]:
furniture.keys()

dict_keys(['table', 'chair', 'closet'])

In [63]:
furniture['table']

{'length': 100, 'width': 57}

In [64]:
furniture['table']['length']

100